@import "base/base";

body {
    font-family: 'Colfax', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 0.625rem;
}

#container {
    height: 43.75rem;
    margin-top: 1rem;
}

.currency-title {
    margin-bottom: 0.5rem;
}
